<!doctype html>
<html>
    <head>
         <link rel="stylesheet" href="/static/index.css">
         <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <script>
        <!-- Variables passed from the Python code, make available to js script -->
        const board = JSON.parse('{{ session["board"]|tojson|safe }}');
        const humanPlayer = JSON.parse('{{ session["human_player"]|tojson|safe }}');
    </script>
    <title>Quantik</title>

    <body>
        <aside>
            <button class="big" onClick="onClickNewGame()">New game</button>
            <fieldset>
                <legend>Select a pawn</legend>
                <ul class="flex-container longhand">
                    {% for pawn in session["human_player"].pawns %}
                    <li id={{pawn}} class="flex-item BLUE">
                        <input id={{pawn}}-{{loop.index}} type="radio" name="pawn-select" val={{pawn}} class="hidden">
                        <label class="center" for={{pawn}}-{{loop.index}}>{{pawn}}</label>
                    </li>
                    {% endfor %}
                </ul>
            </fieldset>
            <article class="msg" id="msgBox"></article>
            <article class="toggle">
                <button disabled class="big" id="modeButtonClassic" onClick="onClickChangeMode('classic')">Classic</button>
                <button class="big" id="modeButtonAnalysis" onClick="onClickChangeMode('analysis')">Analysis</button>
            </article>
            <article id="modeAnalysis" class="column hidden">
                <button id="buttonNextMove" onClick="onClickNextMove()">Next move</button>
                <button onClick="showGamePrediction()">Game prediction</button>
                <fieldset>
                    <legend>Board Analysis</legend>
                    <div class="slidecontainer">
                        <label>Depth of the board analysis (0 for the next move)</label>
                        <input type="range" min="0" max="16" value="0" class="slider" id="boardAnalysisDepth" oninput="this.nextElementSibling.value = this.value">
                        <output>0</output>
                    </div>
                    <button onClick="showBoardAnalysis()">Compute</button>
                </fieldset>
            </article>
        </aside>
    
        <section class="board">
            {% for column_nb in range(2) %}
            <div class="column">
                {% for row_nb in range(2) %}
                <div class="section">
                    {% for section_col_nb in range(2) %}
                        <div class="column">
                            {% for section_row_nb in range(2) %}
                            <span 
                                class="cell {{session["board"][row_nb*2 + section_row_nb][column_nb*2 + section_col_nb][1] if session["board"][row_nb*2 + section_row_nb][column_nb*2 + section_col_nb] else ""}}"
                                x={{row_nb*2 + section_row_nb}} 
                                y={{column_nb*2 + section_col_nb}}
                                id="cell-{{ row_nb*2 + section_row_nb }}-{{ column_nb*2 + section_col_nb }}" 
                                onClick="onClickCell(this.attributes.x.value, this.attributes.y.value)"
                            >
                                {{ session["board"][row_nb*2 + section_row_nb][column_nb*2 + section_col_nb][0] if session["board"][row_nb*2 + section_row_nb][column_nb*2 + section_col_nb] else "" }}
                            </span>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </section>

        <aside>
            <p id="board-analysis"></p>
            <p id="game-prediction"></p>
        </aside>
        <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
        <script src="/static/index.js"></script>
    </body>
</html>