 :root {
  --primary: #004777;
  --secondary: #A30000;
  --tertio: #FF7700;
  --quatro: #EFD28D;
  --cinco: #00AFB5;
  --red: #A30000;
  --blue: #004777;
  /* User messages */
  --error: #A30000; 
  --error-background: #FFD6D6;
  --win: #47A025;
  --win-background: #E5F7DE;
  --wait:  #00AFB5;
  --wait-background:  #D6FEFF;
}

html, body {
  height : 100%;
}

body {
  display         : flex;
  align-items     : start;
  flex-flow       : row;
  margin          : 40px;
  
  font-family     : Helvetica, Arial, sans-serif;
  font-size       : 1em;
  background      : linear-gradient(top, #222, #333);
} 
aside {
  width: 25%;
  margin: 0 1%;
}
section {
  display: flex;
}
fieldset {
  legend {
    font-size: 1.1em;
  }
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.longhand {
  flex-flow: wrap row;
}
.flex-item {
  width: 50px;
  height: 50px;
  font-size: 1.3em;
  text-align: center;
}
.flex-item:hover {background-color: var(--tertio)}
label {
  height: 100%;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

input:checked + label {
  background: var(--tertio);
  color: #C3D0D9
}
.column {
  display         : flex;
  flex-direction  : column;
  justify-content : space-between;
}
.section {
  display         : flex;
  flex-direction  : row;
  background-color  : 1px solid #000000;
  padding: 5px;
}
.cell {
    font-size: 4em;
    display         : flex;
    align-items     : center;
    justify-content : center;
    cursor  : pointer;
    width   : 125px;
    height  : 125px;
    border  : 1px solid #ffffff;
    
    background-color: var(--quatro);
    font-weight : 100;
    text-align  : center;
    padding     : 20px;
}
.cell:hover {background-color: var(--tertio)}

.BLUE {color: var(--blue);}
.RED {color: var(--red);}

button {
  border: none;
  background-color: var(--quatro);
  color: black;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: clamp(12ch, 50%, 20ch);
  font-size: 1.1em;
}
button:hover {background-color: var(--tertio)}

button:active {
  background-color: #222222;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.big {
    font-size: 2em;
  }

.toggle {
  display: flex;
  flex-flow: row wrap;
  button {
    margin: 5px 0;
  }
  button:disabled {
    background-color: var(--tertio);
  }
}

.msg {
  padding: 20px 30px;
  margin: 2px;
  font-weight: bold;
  line-height: 20px;
  text-shadow: 1px 1px rgba(250,250,250,.3);
}
.error{
  background-color: var(--error-background);
  color: var(--error);
}
.win{
  background-color: var(--win-background);
  color: var(--win);
}
.wait{
  background-color: var(--wait-background);
  color: var(--wait);
}
.hidden {
  display: none;
}
